In [3]:
import sys
sys.path.append("../") # add parent directory to path so that this notebook can find the jpath module
from jpath.jpath import JPath

JSON_STRING = """
{
	"employees": [
		{"id": 1, "name": "John Doe", "department": "Engineering", "salary": 60000, "good": true},
		{"id": 2, "name": "Jane Smith", "department": "Marketing", "salary": 55000},
		{"id": 3, "name": "Alice Johnson", "department": "Sales", "salary": 58000},
		{"id": 4, "name": "Robert Brown", "department": "Human Resources", "salary": 62000},
		{"id": 5, "name": "Michael Lee", "department": "Finance", "salary": 63000, "good": true},
		{"id": 6, "name": "Emily Wilson", "department": "Operations", "salary": 59000},
		{"id": 7, "name": "David Garcia", "department": "Customer Service", "salary": 56000},
		{"id": 8, "name": "Sarah Martinez", "department": "Product Management", "salary": 65000, "good": true}
	],
    "employers": [
		{"id": 9, "name": "ggman", "role": {"title": "CEO", "department": "Engineering", "salary": 60000}},
		{"id": 10, "name": "jon", "role": {"title": "CTO", "department": "Engineering", "salary": 80000}},
		{"id": 11, "name": "sydney", "role": {"title": "COO", "department": "Operations", "salary": 80000}}
	]
}
"""

jpath = JPath(JSON_STRING,debug=False)

### Simple child query

In [2]:
result = jpath.query("/child::employees")

print(result)

[
  {
    "id": 1,
    "name": "John Doe",
    "department": "Engineering",
    "salary": 60000,
    "good": true
  },
  {
    "id": 2,
    "name": "Jane Smith",
    "department": "Marketing",
    "salary": 55000
  },
  {
    "id": 3,
    "name": "Alice Johnson",
    "department": "Sales",
    "salary": 58000
  },
  {
    "id": 4,
    "name": "Robert Brown",
    "department": "Human Resources",
    "salary": 62000
  },
  {
    "id": 5,
    "name": "Michael Lee",
    "department": "Finance",
    "salary": 63000,
    "good": true
  },
  {
    "id": 6,
    "name": "Emily Wilson",
    "department": "Operations",
    "salary": 59000
  },
  {
    "id": 7,
    "name": "David Garcia",
    "department": "Customer Service",
    "salary": 56000
  },
  {
    "id": 8,
    "name": "Sarah Martinez",
    "department": "Product Management",
    "salary": 65000,
    "good": true
  }
]

In [3]:
result = jpath.query("/child::employers")

print(result)

[
  {
    "id": 9,
    "name": "ggman",
    "role": {
      "title": "CEO",
      "department": "Engineering",
      "salary": 60000
    }
  },
  {
    "id": 10,
    "name": "jon",
    "role": {
      "title": "CTO",
      "department": "Engineering",
      "salary": 80000
    }
  },
  {
    "id": 11,
    "name": "sydney",
    "role": {
      "title": "COO",
      "department": "Operations",
      "salary": 80000
    }
  }
]

### Child query with multiple steps

In [4]:
result = jpath.query("/child::employees/child::department")

print(result)

"Engineering"
"Marketing"
"Sales"
"Human Resources"
"Finance"
"Operations"
"Customer Service"
"Product Management"

### Predicate query

In [5]:
result = jpath.query("""/child::employees[child::salary = 55000]""")

print(result)

{
  "id": 2,
  "name": "Jane Smith",
  "department": "Marketing",
  "salary": 55000
}

In [6]:
result = jpath.query("""/child::employees[child::salary != 55000]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}
{
  "id": 4,
  "name": "Robert Brown",
  "department": "Human Resources",
  "salary": 62000
}
{
  "id": 5,
  "name": "Michael Lee",
  "department": "Finance",
  "salary": 63000,
  "good": true
}
{
  "id": 6,
  "name": "Emily Wilson",
  "department": "Operations",
  "salary": 59000
}
{
  "id": 7,
  "name": "David Garcia",
  "department": "Customer Service",
  "salary": 56000
}
{
  "id": 8,
  "name": "Sarah Martinez",
  "department": "Product Management",
  "salary": 65000,
  "good": true
}

In [7]:
result = jpath.query("""/child::employees[child::salary > 55000]""")
print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}
{
  "id": 4,
  "name": "Robert Brown",
  "department": "Human Resources",
  "salary": 62000
}
{
  "id": 5,
  "name": "Michael Lee",
  "department": "Finance",
  "salary": 63000,
  "good": true
}
{
  "id": 6,
  "name": "Emily Wilson",
  "department": "Operations",
  "salary": 59000
}
{
  "id": 7,
  "name": "David Garcia",
  "department": "Customer Service",
  "salary": 56000
}
{
  "id": 8,
  "name": "Sarah Martinez",
  "department": "Product Management",
  "salary": 65000,
  "good": true
}

In [8]:
result = jpath.query("""/child::employees[child::salary < 58000]""")
print(result)

{
  "id": 2,
  "name": "Jane Smith",
  "department": "Marketing",
  "salary": 55000
}
{
  "id": 7,
  "name": "David Garcia",
  "department": "Customer Service",
  "salary": 56000
}

In [9]:
result = jpath.query("""/child::employees[child::salary >= 58000]""")
print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}
{
  "id": 4,
  "name": "Robert Brown",
  "department": "Human Resources",
  "salary": 62000
}
{
  "id": 5,
  "name": "Michael Lee",
  "department": "Finance",
  "salary": 63000,
  "good": true
}
{
  "id": 6,
  "name": "Emily Wilson",
  "department": "Operations",
  "salary": 59000
}
{
  "id": 8,
  "name": "Sarah Martinez",
  "department": "Product Management",
  "salary": 65000,
  "good": true
}

In [10]:
result = jpath.query("""/child::employees[child::salary <= 58000]""")
print(result)

{
  "id": 2,
  "name": "Jane Smith",
  "department": "Marketing",
  "salary": 55000
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}
{
  "id": 7,
  "name": "David Garcia",
  "department": "Customer Service",
  "salary": 56000
}

In [11]:
result = jpath.query("""/child::employees[child::department]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 2,
  "name": "Jane Smith",
  "department": "Marketing",
  "salary": 55000
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}
{
  "id": 4,
  "name": "Robert Brown",
  "department": "Human Resources",
  "salary": 62000
}
{
  "id": 5,
  "name": "Michael Lee",
  "department": "Finance",
  "salary": 63000,
  "good": true
}
{
  "id": 6,
  "name": "Emily Wilson",
  "department": "Operations",
  "salary": 59000
}
{
  "id": 7,
  "name": "David Garcia",
  "department": "Customer Service",
  "salary": 56000
}
{
  "id": 8,
  "name": "Sarah Martinez",
  "department": "Product Management",
  "salary": 65000,
  "good": true
}

In [12]:
result = jpath.query("""/child::employees[child::good]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 5,
  "name": "Michael Lee",
  "department": "Finance",
  "salary": 63000,
  "good": true
}
{
  "id": 8,
  "name": "Sarah Martinez",
  "department": "Product Management",
  "salary": 65000,
  "good": true
}

### Result array selection (single, slice)

In [13]:
result = jpath.query("""/child::employees[child::salary >= 55000][0]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}

In [14]:
result = jpath.query("""/child::employees[child::salary >= 55000][0:3]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 2,
  "name": "Jane Smith",
  "department": "Marketing",
  "salary": 55000
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}

In [15]:
result = jpath.query("""/child::employees[child::salary >= 55000][0:8:3]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 4,
  "name": "Robert Brown",
  "department": "Human Resources",
  "salary": 62000
}
{
  "id": 7,
  "name": "David Garcia",
  "department": "Customer Service",
  "salary": 56000
}

In [16]:
result = jpath.query("""/child::employees[child::good][0:3:2]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 8,
  "name": "Sarah Martinez",
  "department": "Product Management",
  "salary": 65000,
  "good": true
}

### Descendent query

In [17]:
result = jpath.query("""/descendant::role""")
print(result)

{
  "title": "CEO",
  "department": "Engineering",
  "salary": 60000
}
{
  "title": "CTO",
  "department": "Engineering",
  "salary": 80000
}
{
  "title": "COO",
  "department": "Operations",
  "salary": 80000
}