In [1]:
import sys
sys.path.append("../") # add parent directory to path so that this notebook can find the jpath module
from jpath.jpath import JPath

JSON_STRING = """
{
	"employees": [
		{"id": 1, "name": "John Doe", "department": "Engineering", "salary": 60000, "good": true},
		{"id": 2, "name": "Jane Smith", "department": "Marketing", "salary": 55000},
		{"id": 3, "name": "Alice Johnson", "department": "Sales", "salary": 58000}
	],
    "employers": [
		{"id": 4, "name": "ggman", "role": {"title": "CEO", "department": "Engineering", "salary": 60000}},
		{"id": 5, "name": "jon", "role": {"title": "CTO", "department": "Engineering", "salary": 70000}},
		{"id": 6, "name": "sydney", "role": {"title": "COO", "department": "Operations", "salary": 80000}}
	]
}
"""

jpath = JPath(JSON_STRING,debug=False)

### Simple child query

In [49]:
result = jpath.query("/child::employees")

print(result)

[
  {
    "id": 1,
    "name": "John Doe",
    "department": "Engineering",
    "salary": 60000,
    "good": true
  },
  {
    "id": 2,
    "name": "Jane Smith",
    "department": "Marketing",
    "salary": 55000
  },
  {
    "id": 3,
    "name": "Alice Johnson",
    "department": "Sales",
    "salary": 58000
  }
]

### Child query with multiple steps

In [50]:
result = jpath.query("/child::employees/child::department")

print(result)

"Engineering"
"Marketing"
"Sales"

### Predicate query

In [51]:
result = jpath.query("""/child::employees[child::salary = 55000]""")

print(result)

{
  "id": 2,
  "name": "Jane Smith",
  "department": "Marketing",
  "salary": 55000
}

In [2]:
result = jpath.query("""/child::employees[child::salary != 55000]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}

In [3]:
result = jpath.query("""/child::employees[child::salary > 55000]""")
print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}

In [4]:
result = jpath.query("""/child::employees[child::salary < 58000]""")
print(result)

{
  "id": 2,
  "name": "Jane Smith",
  "department": "Marketing",
  "salary": 55000
}

In [5]:
result = jpath.query("""/child::employees[child::salary >= 58000]""")
print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}

In [6]:
result = jpath.query("""/child::employees[child::salary <= 58000]""")
print(result)

{
  "id": 2,
  "name": "Jane Smith",
  "department": "Marketing",
  "salary": 55000
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}

In [53]:
result = jpath.query("""/child::employees[child::department]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}
{
  "id": 2,
  "name": "Jane Smith",
  "department": "Marketing",
  "salary": 55000
}
{
  "id": 3,
  "name": "Alice Johnson",
  "department": "Sales",
  "salary": 58000
}

In [54]:
result = jpath.query("""/child::employees[child::good]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}

In [55]:
result = jpath.query("""/child::employees[child::good]""")

print(result)

{
  "id": 1,
  "name": "John Doe",
  "department": "Engineering",
  "salary": 60000,
  "good": true
}

### Descendent query

In [56]:
result = jpath.query("""/descendant::role""")
print(result)

{
  "title": "CEO",
  "department": "Engineering",
  "salary": 60000
}
{
  "title": "CTO",
  "department": "Engineering",
  "salary": 70000
}
{
  "title": "COO",
  "department": "Operations",
  "salary": 80000
}